Configration.Consume/Connected Services/ServiceReference1/Meta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9698/ConfigrationService/Meta?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Configration.Domain.Entities" />
  <xs:element name="GetAllStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Configration.Domain.Entities" minOccurs="0" name="GetAllStudentsResult" nillable="true" type="q1:ArrayOfmodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstructors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstructorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Configration.Domain.Entities" minOccurs="0" name="GetAllInstructorsResult" nillable="true" type="q2:ArrayOfmodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllITIBranches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllITIBranchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Configration.Domain.Entities" minOccurs="0" name="GetAllITIBranchesResult" nillable="true" type="q3:ArrayOfmodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBranchesConfigKeys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBranchesConfigKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Configration.Domain.Entities" minOccurs="0" name="GetAllBranchesConfigKeysResult" nillable="true" type="q4:ArrayOfmodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudentsConfigKeys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudentsConfigKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Configration.Domain.Entities" minOccurs="0" name="GetAllStudentsConfigKeysResult" nillable="true" type="q5:ArrayOfmodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstructorsConfigKeys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstructorsConfigKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Configration.Domain.Entities" minOccurs="0" name="GetAllInstructorsConfigKeysResult" nillable="true" type="q6:ArrayOfmodel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetITIBranchConfigValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchID" type="xs:int" />
        <xs:element minOccurs="0" name="BranchConfigKeyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetITIBranchConfigValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetITIBranchConfigValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorConfigValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstructorID" type="xs:int" />
        <xs:element minOccurs="0" name="InstructorConfigKeyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorConfigValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInstructorConfigValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentConfigValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentID" type="xs:int" />
        <xs:element minOccurs="0" name="StudentConfigKEyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentConfigValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStudentConfigValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>